---
layout: base.liquid
pagination:
  data: collections.dayPagination
  size: 1
  alias: posts
permalink: "/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---

{% assign thisDay = pagination.items.first %}
{% assign thisPagesPosts = collections.posts | where: "data.just_the_date", thisDay | sort: "created_at" | reverse %}
{% for post in thisPagesPosts %}
{% if forloop.first %}
<ul style="list-style: none;padding-left:0;display:grid;gap:max(5vh,3rem)">
  {% endif %}
  <li id="{{ post.data.id }}">
    <time pubdate="{{ post.created_at }}" style="font-size:0.85rem;text-transform:uppercase;letter-spacing:0.025rem;">
      {{ post.data.author }} on {{ post.data.created_at | date: "%a, %b %-d '%y @ %H:%M" }} UTC
    </time>
    {% if post.content %}
    <div class="message">
      {{ post.content | markdownify | prependCloudinaryURL }}
    </div>
    {% endif %}
  </li>
  {% if forloop.last %}
</ul>
{% endif %}
{% endfor %}
