---
permalink: /
layout: base.liquid
---

{% assign sortedPosts = posts | sort:"created_at" | reverse %}
{% for post in sortedPosts %}
{% if forloop.first %}
  <ul style="list-style: none;padding-left:0;display:grid;gap:max(5vh,3rem)">
{% endif %}
    <li id="{{ post.id }}">
      {% assign url =  post.human_readable_fields[0].value %}
      {% assign title =  post.human_readable_fields[1].value %}
      {% assign message =  post.human_readable_fields[2].value %}
      <h2 style="margin:0 0 0.625rem;font-family: 'Roboto Condensed', sans-serif;">
        <a href="{{ url }}">{{ title }}</a>
      </h2>
      <time pubdate="{{ post.created_at }}" style="font-size:0.85rem;text-transform:uppercase;letter-spacing:0.025rem;">
        {{ post.created_at | date: "%A, %B %-d, %Y @ %H:%M" }} UTC
      </time>
      {% if message %}
      <div class="message">
        {{ message | markdownify }}
      </div>
    {% endif %}
    </li>
{% if forloop.last %}
  </ul>
{% endif %}
{% endfor %}
