---
permalink: /
layout: base.liquid
---

{% assign sortedPosts = collections.posts | sort:"data.created_at" | reverse %}
{% for post in sortedPosts %}
{% if forloop.first %}
  <ul style="list-style: none;padding-left:0;display:grid;gap:max(5vh,3rem)">
{% endif %}
    <li id="{{ post.data.id }}">
      <time pubdate="{{ post.created_at }}" style="font-size:0.85rem;text-transform:uppercase;letter-spacing:0.025rem;">
        From {{ post.data.author }} @ {{ post.data.created_at | date: "%A, %B %-d, %Y @ %H:%M" }} UTC
      </time>
      {% if post.content %}
      <div class="message">
        {{ post.content | markdownify }}
      </div>
    {% endif %}
    </li>
{% if forloop.last %}
  </ul>
{% endif %}
{% endfor %}
